{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script rel="stylesheet" href="{% static 'app\static\js\main.js' %}" defer></script>
</head>
<nav id="nav-bar" style="height: 6rem" class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
    <a href="{% url 'home' %}" class="navbar-brand">Chores</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{% url 'chore_details' %}" class="nav-link text-white">Chore info</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'swap_chores' %}" class="nav-link text-white">Swap Chores</a>
        <li class="nav-item">
            <a href="{% url 'todays_chore' %}" class="nav-link text-white">Today's Chore</a>
        </li>
    </ul>
</nav> 
<h1>Today's Chores</h1>
<body class="todays-chore-body">
  <div class="accordion">
  {% for assignment in chore %}
    <div class="accordion-item">
      <a style="font-size: 23px;">{{assignment.student.name}}</a>
      <div class="content">
        <p style="font-size: 20px;"><strong>{{assignment.chore.name}} <button class="btns">incomplete</button></strong></p>
        <p><i>{{assignment.chore.description}}</i></p>
      </div>
    </div>
    {% endfor %}
  </div>  
</div>
</body>
<script>

const items = document.querySelectorAll(".accordion a");
function toggleAccordion(){
  this.classList.toggle('active');
  this.nextElementSibling.classList.toggle('active');
}

items.forEach(item => item.addEventListener('click', toggleAccordion));
const buttons = document.querySelectorAll(".btns");
buttons.forEach(button => button.addEventListener('click', () => {
  if (button.innerText == 'incomplete') {
      button.innerText = 'complete';
    } else {
      button.innerText = 'incomplete';
    }
}))
{% comment %} for (const x of buttons) {
  x.addEventListener('click', () => {
    if (x.value == 'incomplete') {
      x.value = 'complete';
    } else {
      x.value = 'complete';
    }
  })
} {% endcomment %}
</script>
</html>